@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

.cabecario{
    background-image: linear-gradient(rgba(2, 2, 2, 0.767), rgba(0, 0, 0, 0.5)), url(img/fundo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    width: auto;
    height: 560px;
    padding: 20px;
}

.cabecario > img{
    width: 125px;
    height: 62px;
    margin-top: 52px;
    margin-left: 56px;
    
}

.text{
    margin-top: 100px;
    margin-left: 172px;
    
}

.text > h4{
    font-size: 40px;
    font-weight: 400;
    width: 536px;
    height: 102px;
    line-height: 128%;
    
}

.text > p{
    font-size: 20px;
    font-weight: 200;
    width: 536px;
    height: 90px;
    line-height: 150%;
    letter-spacing: 0%;
}

.itens{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    grid: 3;
    font-weight: 400;
    font-size: 20px;
    padding: 20px;
    line-height: 150%;
    width: auto;
    height: 170px;
    background-color: #EAECE5;
}

.imagem{
    width: 40px;
    height: 40px;
    margin: 50px 0px 50px 100px;
    padding: 10px;
}

.texto{
    display: flex;
    align-items: center;
}

.depoimento{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    background-color: #FFFFFF;
    padding: 20px;
}

iframe{
    margin: 50px 25px 50px 100px ;
}

.texto2{
    margin: 50px 25px 50px 100px ;

}

.texto2>h1{
    font-weight: 700;
    color: #247BA0;
    font-size: 32px;
    line-height: 150%;
}

.texto2 > p{
    font-weight: 400;
    line-height: 150%;
    font-size: 16px;

}

.carossel{
    background-color: #247BA0;
    padding: 50px;
    height: 444px;
}

.carossel>h1{
    color: #EAECE5;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;

    
}

.cards{
    margin-top: 50px;
    display: grid;
    grid-auto-flow: column;
}

.btnDireita{
    cursor: pointer;

    margin-top: 40px;
}

.btnEsquerda{
    cursor: pointer;
    display: none;
    margin-top: 70px;
}

.img3{
    display: none;
}

.formularios{
    text-align: center;
}

.formularios> h1{
    text-align: center;
    font-size: 32px;
    line-height: 150%;
    color: #383838;
    margin: 25px;
}

.inpt{
    width: 413px;
    height: 53px;
    margin: 15px;
    padding: 10px;
    background-color: #EAECE5;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #383838;
    border: 0px;
}

.btn{
    margin-top: 40px;
    margin-bottom: 80px;
    background-color:#247BA0;
    width: 335px;
    height: 53px;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    line-height: 150%;
    cursor: pointer;
    border: 0px;
}

