@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

.cabecario{
    background-image: linear-gradient(rgba(2, 2, 2, 0.767), rgba(0, 0, 0, 0.5)), url(img/fundo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    width: auto;
    height: 560px;
    padding: 20px;
}

.cabecario > img{
    width: 125px;
    height: 62px;
    margin-top: 52px;
    margin-left: 56px;
    
}

.text{
    margin-top: 100px;
    margin-left: 172px;
    
}

.text > h4{
    font-size: 40px;
    font-weight: 400;
    width: 536px;
    height: 102px;
    line-height: 128%;
    
}

.text > p{
    font-size: 20px;
    font-weight: 200;
    width: 536px;
    height: 90px;
    line-height: 150%;
    letter-spacing: 0%;
}

.itens{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    font-weight: 400;
    font-size: 20px;
    padding: 20px;
    line-height: 150%;
    width: auto;
    height: 170px;
    background-color: #EAECE5;
}