@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

.cabecario {
    background-image: linear-gradient(rgba(2, 2, 2, 0.767), rgba(0, 0, 0, 0.5)), url(img/fundo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 560px;
    width: 100%;
    /* 
    a tag nã está ocupando todo o espaço que deveria
    */
    padding: 50px;
}

.cabecario a {
    font-style: none;
}


.centeudo{
color: #ffffff;
margin-top: 90px;
position: relative;
left: 30%;
}

.paragrafo{

    font-family: "inter";
    font-size: 40px;
}

.texto{

    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 36px;
    font-size: 20px;

}

.info img {
    width: 40px;
    height: 40px;
    position: relative;
    left: 0%; /* Reduzido o deslocamento para a esquerda */
    margin-right: 10px; /* Adiciona um espacinho entre a imagem e o texto */
}
.info{
    /* width: 100%; */
    height: 170px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    background-color: #EAECE5;
}

.conclusao{
   padding: 20px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.horas{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.aulas{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 13%;
}
